<template>
	<div class="hero is-large">
		<div class="hero-head">
			<nav class="navbar" role="navigation" aria-label="main navigation">
				<div class="container">
					<div class="navbar-brand">
						<a href="/" class="navbar-item">Portfolio</a>
						<button class="button navbar-burger">
							<span></span>
							<span></span>
							<span></span>
						</button>
					</div>
					<div class="navbar-menu">
						<div class="navbar-end">
							<nuxt-link class="navbar-item" to="/">Home</nuxt-link>
							<nuxt-link class="navbar-item" to="/about">About</nuxt-link>
							<nuxt-link class="navbar-item" to="/projects">Projects</nuxt-link>
							<nuxt-link class="navbar-item" to="/contact">Contact</nuxt-link>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</div>
</template>