<template>
	<section class="section is-medium">
		<div class="container has-text-centered">
			<h1 class="title">About Me</h1>
			<p>My name is Alexander Rizhikoff (AKA designcreative), I’m a self taught software developer based in Odesa, Ukraine. I build modern applications for the web!</p>
		</div>
	</section>
</template>