<template>
	<section class="section is-medium">
		<div class="container has-text-centered">
			<h1 class="title">Contact Me</h1>
			<p>You can follow me on twitter <a href="http://twitter.com/dcreativeme" target="_blank">@DCreativeme</a></p>
		</div>
	</section>
</template>