<template>
  <section class="section is-large">
    <div class="container has-text-centered">
      <h1 class="title">Hi, I'm Alex</h1>
      <h2 class="subtitle">a Designer and Full Stack Developer based in Odesa, Ukraine.</h2>
    </div>
  </section>
</template>

<script>

</script>

<style>

</style>
