<template>
	<section class="section is-medium">
		<div class="container has-text-centered">
			<h1 class="title">My Projects</h1>
			<p>Some of my projects can be found on ...</p>
		</div>
	</section>
</template>